@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@font-face { font-family: "ChampagneLimousinesBold"; src: url('../fonts/ChampagneLimousinesBold.eot?1427484796') format('embedded-opentype'), url('../fonts/ChampagneLimousinesBold.otf?1427484868') format('opentype'), url('../fonts/ChampagneLimousinesBold.svg?1427506638') format('svg'), url('../fonts/ChampagneLimousinesBold.ttf?1402875724') format('truetype'), url('../fonts/ChampagneLimousinesBold.woff?1427506562') format('woff'); }
@font-face { font-family: "ChampagneLimousines"; src: url('../fonts/ChampagneLimousines.eot?1427484780') format('embedded-opentype'), url('../fonts/ChampagneLimousines.otf?1427484832') format('opentype'), url('../fonts/ChampagneLimousines.svg?1427506644') format('svg'), url('../fonts/ChampagneLimousines.ttf?1402875060') format('truetype'), url('../fonts/ChampagneLimousines.woff?1427506570') format('woff'); }

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    background: #E4E4E4;
}
::selection {
    color: #fff;
    background: #04b0c2;
}
::-moz-selection {
    color: #fff;
    background: #04b0c2;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #666666;
}
a {
    color: #04b0c2;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
a:hover {
    color: #0080C0;
    text-decoration: none;
}
.btn {
    background: #04b0c2;
}
.btn:hover {
    background: #00BFFF;
}
/*Nav
-----------------------------------------*/
.header .navbar-brand {
    float: left;
    padding: 16px 15px;
    line-height: 18px;
    height: 50px;
}
.navbar-brand b {
    color: #04b0c2;
}
.logo {
    font-size: 1.3em;
    text-shadow: none;  
    font-family: 'Roboto', sans-serif;
    /*margin: 8px 0 0 0;*/
}
.navbar-header img {
    width: 28px;
    height: 28px;
}
.header .navbar {
    margin: 0;
    background: #fff;
    border: 0;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.3);
}
.navbar-inverse .navbar-nav > li > a {
    color: #666666;
    font-size: 1.2em;
    line-height: normal;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #04b0c2;
    background: none;
}
.navbar-nav > li:hover > a {
    color: #04b0c2;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #04b0c2;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #04b0c2;
    content: "";
    transition: width 0.2s;
}
.navbar-inverse .navbar-nav>li>a:hover:after {
    width: 100%;
}
.navbar-inverse .navbar-toggle {
    border-color: #04b0c2;
    background-color: #04b0c2;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: #00BFFF;
}
/* Responsive style */
@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 100px;
    }

    .navbar-nav {
        float: right;
        padding-right: 100px;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #666666;
        font-size: 1.2em;
        border-radius: 5px;
    }
}
@media (max-width: 767px) { 
    .page .content.cover { padding: 160px 0 }
    .heroText {margin-top: 30%;    }
    .heroText h2{font-size: 60px; line-height: 60px;}
    .heroText h2 strong{font-size: 45px;}
    .navbar-nav>li>a {
        line-height: 35px;
    }
    .nav>li>a { 
        padding: 2px 15px;
    }
}
@media (max-width: 480px) { 
    .page .content.cover { padding: 80px 0 }
    .heroText {margin-top: 60%;    }
    .heroText h2{font-size: 40px; line-height: 40px;}
    .heroText h2 strong{font-size: 25px;}
}
/*/////////////////////////////////////////*/
/*Banner
-----------------------------------------*/ 
.banner-container {
    width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    /*background: url("../images/banner-bg.jpg") no-repeat;*/
    background-size: 100% 100%;
    background-size: cover;
    margin-top: 50px;
    position: relative;
    border-bottom: 2px #04b0c2 solid;
}
.banner-content {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
}
.banner-content h2 {
        color: #04b0c2;
        font-size: 3.5em;
        margin: 2% 0 30px;
        line-height: 1.2em;
        font-family: 'Roboto', sans-serif;
        /*text-shadow: 1px 1px 1px #8F8F8F;*/
    }

    .banner-content p {
        font-size: 1.6em;
        font-style: normal;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        /*text-shadow: 1px 1px 1px #8F8F8F;*/
    }

.banner-container > img {
        width: 100%;
}
.da-slider {
    margin: 0 auto !important;
}
.da-slider i {
    color: rgba(255, 255, 255, 0.93);
}
.da-slider i:hover {
    color: #04b0c2;
}
img.logo_banner{
    padding-top: 50px; 
    width: 200px;
}
img.logo_banner + p{
    font-family: "ChampagneLimousines",sans-serif;
    font-size: 3.5em;
}
#baner{
    font-family: "ChampagneLimousines",sans-serif;
    font-size: 2em;
}
.da-dots span {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.13);
  margin: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
  border: 2px solid #04b0c2;
  }
@media (max-width: 768px) {
    .banner-container {
        background-size: contain;
    }

    .da-slide h2 {
        font-size: 28px;
    }

    .banner-content p {
        font-size: 1.2em;
        text-shadow: none;
    }

    .da-slide p {
        width: 67%;
        top: 122px;
    }

    .team-member .member-img img {
        max-width: 100%;
    }

    .da-slider {
        height: 380px;
        width: 100%;
        min-width: initial;
        margin: 0px !important;
    }

    

    .portfolio-item:hover .folio-info {
        top: 0px;
    }

    .portfolio-item .portfolio-desc .folio-info {
        padding: 0px;
    }

        .portfolio-item .portfolio-desc .folio-info h5 {
            font-size: 1em;
        }
}
@media (max-width: 480px) {
    .banner-container {
        background-size: contain;
        margin-top: 88px;
    }

        .banner-container > img {
            width: 100%;
            height: 140px;
        }

    .da-slide h2 {
        font-size: 22px;    
        top: 7px;
        text-shadow:none;
    }
    .da-slide p {
        width: 65%;
        top: 42px;
        height: 50px;
    }

  

    #section-top ul li a {
        height: 28px;
        line-height: 28px;
        width: 26px;
    }

    .team-socials a {
        background: white;
        padding: 1px 0;
        margin: 2px;
    }

    .team-socials i {
        width: 19px;
        height: 19px;
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 16px;
    }

    .page-section {
        padding: 0px;
    }

    .page-section h1 {
        font-size: 3em;
    }

    .page-section h2 {
        font-size: 2em;
    }

    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }

    .portfolio-item .portfolio-desc .folio-info h5 {
        font-size: 11px;
    }
}
@media (max-width: 320px) {
    .banner-container {
        background-size: contain;
    }

    .da-slider {
        height: 300px;
    }

    .da-slider {
        width: 100%;
        min-width: initial;
        position: relative;
        margin: 0 auto;
    }
  
    .da-dots {
        bottom: 2px;
    }

    .grid .text-content {
        padding-left: 29%;
        padding-right: 2%;
    }

    .portfolio-item:hover .folio-info {
        top: 0px;
    }

    .portfolio-item .portfolio-desc .folio-info h5 {
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        font-size: 10px;
        margin: 10px 0 0 0;
    }

    nav#filter li {
        display: inline-block;
        margin: 0 0 23px 5px;
    }
}
/*Heaging
-----------------------------------------*/
.heading {
    padding: 35px 10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    display: block;
}
.heading h2 {
    color: #666666;
}
.heading h2 span {

    color: #04b0c2;
}
/*AboutUs
-----------------------------------------*/
#aboutUs {
    padding: 60px 0;
    background-color: rgba(0,0,0,0.80);
    
}
#aboutUs di.val {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #666666;
}
#aboutUs dt.val-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #04b0c2;
}
#aboutUs dd.val-name {
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    color: #04b0c2;
}
#aboutUs dt.val-name1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #666666;
}
#aboutUs dd.val-name1 {
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    color: #666666;
}
#aboutUs i.color {
    color: #04b0c2;
}
#aboutUs h3 {
    color: #fff;
}
img.imgNosotros {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
/*Services
-----------------------------------------*/
#services {
    padding: 60px 0;
}
#services a {
    text-align: center;
    border: 1px solid #04b0c2;
    border-radius: 90px;
    height: 52px;
    line-height: 60px;
    padding: 0px;
    width: 52px;
    display: inline-block;
    color: #04b0c2;
    margin: 0 6px;
}
#services a:hover {
    background: #04b0c2;
    color: #fff;
    border: 1px solid #00BFFF;
}
img.imgServicios {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
/*Plans
-----------------------------------------*/
#plans {
    padding: 60px 0;
}
/*Table*/
.flat .plan {
    border-radius: 0px;
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 15px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29) !important;
}
.flat .plan li {
    font-size: 1.2em;
    padding: 10px 15px;
    color: #ccc;
    border-top: 1px solid #f5f5f5;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.flat .plan li.plan-price {
    border-top: 0;
}
.flat .plan li.plan-name {
    border-radius: 0;
    padding: 15px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    background: #4E4E4E;
    margin-bottom: 30px;
    border-top: 0;
}
.flat .plan li > strong {
    color: #666666;
    font-weight: normal;
}
.flat .plan li.plan-action {
    margin-top: 10px;
    border-top: 0;
}
.flat .plan.featured {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.flat .plan.featured:hover li.plan-name, .flat .plan:hover li.plan-name, .flat .plan.featured.plan-name {
    background: #04b0c2 !important;
}
/*Team
-----------------------------------------*/
#team {
    padding: 60px 0;
    background: #eee;
}
.team-member {
    margin-bottom: 150px;
}
.member-img img {
    max-width: 150px;
    margin: 0 auto;
}
.team-socials a {
    padding: 7px 0;
    margin: 2px;
    font-size: 1.5em;
    line-height: 50px;
}
/*ContactUs
-----------------------------------------*/
#contactUs {
    padding-top: 0px;   
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}
.parlex-back {
    padding: 40px 0;
    background-color: rgba(0,0,0,0.37);
    color: #fff;
}
.mrgn30 {
    margin: 40px 0;
}
address span {
    color: #fff;
}
.modal-title{
    color: #04b0c2;
    font-size: 1.5em;
}
.modal-body {
    color: rgba(0,0,0,0.95);
    font-size: 1.2em;
}
.form-group {
    color: #04b0c2;
}
.correo {
    font-size: 1.5em;
}
/*Footer
-----------------------------------------*/
footer {
    border-top: 1px solid #fff;
    padding: 15px 0;
    background: #fff;
}

/*Copyright
-----------------------------------------*/
#copyright {
    color: #04b0c2;
    background-color: rgba(0,0,0,0.95);
    padding: 20px 0;
}
.social {
    font-size: 40px;
    margin: 0 10px;
}
/*TopHome
-----------------------------------------*/
.topHome {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}